h2{
  color: white;
  text-align: center;
}

a{
  color: yellow;
}

body{
  color: gold;
  background-image: url("https://media.psu.com/media/articles/image/PS4_Uncharted4Artwork.jpg");
  background-size: cover;
  text-align: center;

}
