h1{
  color: white;
  text-align: center;
}
h2{
  color: red;
  text-align: center;
}
h3{
  color: red;
  text-align: center;
}
form{
  text-align: center;
}
body{
  background-image: url("https://www.planetware.com/photos-large/SEY/best-islands-cook-islands.jpg");
  background-size: cover;
  color: white;
  font-size: 20px;
  text-align: center;
}
