<!DOCTYPE html>
<html>
<head>
  </head>
  <body>
    <h1>
      Island Text Adventure
      </h1>
      <div>
      <h2>
        prolouge
        </h2>
        <div id= "prolouge" style = "max-width: 75%">
        <p>
          you are a tourist in search for your next adventure to go on. you heard from villagers that theres and island not to far from
          main land and decide this is going to be your next stop. You head off at night even though theres was a storm warning
          because you were so eager to get there. you head out and instantly start to feel the harsh currents and rain building up. your
          boat is struck by lightning and goes down. you wake up hours later washed up on a shore of an island that isn't on any map youve
          seen. you made it to the island but now have to try and get back home!
  </p>
  </div>

      enter your username here to begin!
      <input type = "text" name = "user">
      <input type = "button" value = "submit">
      <image src= "https://www.planetware.com/photos-large/SEY/best-islands-cook-islands.jpg">
<script src = "../../css/javaScript/script.js"></script>
    </body>

    </html>
