<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/PageTwo.css">

  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="/tutorial">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>


    <h2>  While exploring the forest {{userN}}, you found some fruit. What will you do with it? </h2>
    <p> <a href= "/pageThree"> Take the fruit and eat them.</a> </p>
    <p>  <a href= "/pageFour"> Leave the fruit and continue exploring.</a> </p>
    <p> <img src="https://image.freepik.com/free-photo/raw-wild-green-mangoes-hanging-branch-close-up_29654-82.jpg" height="400" width="400"></p>
  </body>
</html>
