<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
        <link rel="stylesheet" href="../static/css/pagefive.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="/tutorial">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>
    <h1> GREAT JOB {{userN}}, you defeated the beast! But then, you see a sign signalling you to leave before nightfall. Do you...</h1>

    <div><a href="/pageSeven"> Make a fire to create a signal for any arriving planes. </a></div>
    <a href="/deathPageOne"> Go back to the beach and try to avoid any further monsters. </a>

  </body>
</html>
