<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/PageNine.css">

  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="#">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>

    <h2> {{userN}}, you see a plane coming over head! You begin to burn the surrounding trees.</h2>
    <a href="/pageEleven"> Run towards the beach. </a>
  </body>
</html>
