  <!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/css/PageThree.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="#">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>

    <p> {{userN}}! you encounter a wild beast! What do you do!?</p>
    <p><A href= "/deathPageOne"> RUN </a></p>
    <p><a href= "/pageFive"> Attack!  </a></p>
  </body>
</html>
