<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/PageSeven.css">

  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="#">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>

    <h2> {{userN}}, you created a fire, but it's starting to burn quite large. What do you do? </h2>
    <p><a href="/pageNine"> Add more wood. </a></p>
    <p><a href= "/deathPageOne"> Try putting it out. </a></p>
  </body>
</html>
