<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
        <link rel="stylesheet" href="../static/css/pagefive.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="#">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>
    <h1> GREAT JOB {{userN}} you defeated the beast! but you see a sign signaling you to leave before night fall do you...</h1>

    <div><a href="/pageSeven"> make a fire to create a signal for on coming planes </a></div>
    <a href="/deathPageOne"> go back to the beach and avoid any further monsters </a>

  </body>
</html>
