<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/PageSix.css">

  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="#">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>
    <h2> {{userN}} you have entered the cave, you see a light deeper down and a exit to the cave. Will you...</h2>
    <p><a href="/pageEight"> See what the light is. </a></p>
    <p><a href="/pageSeven"> Leave the cave and try to signal any passing planes.</a></p>
  </body>
</html>
