<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/PageTen.css">

  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="/tutorial">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>

    <h2> You see the stones slowly blocking the exit!!! WHAT DO YOU DO {{userN}}?!?! </h2>
    <p><a href="/pageTwelve"> Stand back and hope they'll survive.</a></p>
    <p><a href="/deathPageOne"> Speedrun your way out!!!</a></p>
  </body>
</html>
