<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/PageFour.css">

  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="/tutorial">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>

    <h2>After leaving the food, you dozed off for a bit and suddenly fell into a hole in the ground. You are now holding on to the ledge but, you noticed a cave below. What will you do {{userN}}?  </h2>

    <p><a href="/deathPageOne"> Ignore the cave and try to climb out. </a></p>
    <p><a href="/pageSix"> Let go and explore the cave.</a></p>

  </body>
</html>
