<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/PageEight.css">
  </head>
  <body>
    <div class="dropdown" style="float:left;">
      <button class="dropbtn">Help</button>
      <div class="dropdown-content">
        <a href="#">tutorial</a>
        <a href="/">Restart</a>
      </div>
    </div>

    <h2> {{userN}} YOU FOUND TREASURE!!! What next?</h2>
    <p><a href="/pageEleven"> You get scared of booby traps and leave.</a></p>
    <p><a href="/pageTen"> Take as much as you can and yeet your way out.</a></p>
  </body>
</html>
